<%= form_with model: [@post, @post.comments], url: post_comments_path(@post) do |form| %>
  <% if @post.errors.any? %>
      <% @post.errors.full_messages.each do |message| %>
        <p class="notification is-danger has-text-semibold py-2 px-3 ">
          <%= message %>
        </p>
      <% end %>
  <% end %>

  <div class="is-flex mb-4">
    <span class="icon is-large mt-1">
      <i class="bx bxs-user-circle is-size-1"></i>
    </span>
    <div class="container is-fluid px-3">
      <div class="field is-fullwidth mt-1">
        <p class="label">
          <% if user_signed_in? %>
            <%= current_user.name %> <%= current_user.surname %>
          <% else %>
            <%= t("comment.name") %>
          <% end %>
        </p>
        <div class="control">
          <%= form.text_area :comment_body, required: true, class: "textarea", placeholder: t("comment.text") %>
        </div>
      </div>
      <div class="field is-grouped is-grouped-right pt-2">
        <div class="control">
          <%= form.submit t("comment.submit"), class: "button is-link" %>
        </div>
      </div>
    </div>
  </div>
<% end %>