<h2 class="title">Change Your Password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New Password", class: "label" %>
    <div class="control">
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input", placeholder: "New Password" %>
    </div>
    <p class="help">(Passwords must have 8 characters, 1 uppercase, 1 lowercase and 1 special)</p>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm New Password", class: "label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", placeholder: "Confirm New Password" %>
  </div>

  <div class="actions field mt-4">
    <%= f.submit "Change My Password", class: "button is-link" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
