<h2 class="title"><%= t("auth.login.title") %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, t("auth.login.email"), class: "label" %>
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: t("auth.login.email") %>
    </div>
  </div>

  <div class="field">
    <%= f.label :password, t("auth.login.password"), class: "label" %>
    <div class="control">
      <%= f.password_field :password, autocomplete: "current-password", class: "input", placeholder: t("auth.login.password") %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.label :remember_me, class: "checkbox" do %>
        <%= f.check_box :remember_me %> <%= t("auth.login.remember") %>
      <% end %>
    </div>
  <% end %>

  <div class="actions field is-grouped">
    <%= f.submit t("auth.login.title"), class: "button is-link" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>