<div class="notification is-info has-text-weight-semibold mt-4">
  <i class='bx bxs-info-circle'></i> <%= t("auto.info") %>
</div>

<article class="message is-dark">
  <div class="message-header">
    <p>Post.txt</p>
  </div>
  <div class="message-body" style="white-space: pre-line">Title: <%= t("auto.example.one.title") %>
    Body: <%= t("auto.example.one.body") %>
    Tags: <%= t("auto.example.one.tags") %>

    Title: <%= t("auto.example.two.title") %>
    Body: <%= t("auto.example.two.body") %>
    Tags: <%= t("auto.example.two.tags") %>

    Title: <%= t("auto.example.three.title") %>
    Body: <%= t("auto.example.three.body") %>
  </div>
</article>

<%= form_with(model: @text, url: queue_path, multipart: true, method: :post) do |form| %>
  <div class="file has-name mb-3 mt-4 is-dark">
    <%= form.label :text, class: "file-label" do %>
      <%= form.file_field :text, class: "file-input" %>
      <span class="file-cta">
        <span class="file-icon">
          <i class="bx bx-upload is-size-4"></i>
        </span>
        <span class="file-label ml-1 has-text-weight-semibold"><%= t("auto.label") %></span>
      </span>
      <span id="file-name" class="file-name"><%= t("auto.holder") %></span>
    <% end %>
  </div>
  <%= form.submit t("auto.submit"), class: "button is-link" %>
<% end %>

<script>
  const input = document.querySelector(".file-input#text")
  const name = document.querySelector(".file-name#file-name")

  input.addEventListener("change", () => {
    const file = input.files[0]
    name.textContent = file ? file.name : t("auto.holder")
  })
</script>