<%= link_to post_path(post), class: "box" do %>
  <h1 class="title is-size-4 is-size-5-touch m-0 mb-2"><%= post.title %></h1>
  <p class="subtitle is-size-5 is-size-6-touch m-0 mb-2"><%= truncate(post.body, length: 350, omission: "...") %></p>
  <div class="is-size-6 is-size-7-touch has-text-weight-semibold mb-3">
    <p>Author: <%= post.user.name %> <%= post.user.surname %></p>
    <p><%= time_ago_in_words(post.created_at).capitalize %> <%= t("time") %></p>
  </div>
  <div class="tags">
    <% post.tags.each do |tag| %>
      <div class="tag is-link is-capitalized"><%= tag.name %></div>
    <% end %>
  </div>
<% end %>