<%= link_to post_path(post), class: "box" do %>
  <h1 class="title is-size-4 is-size-5-touch m-0 mb-2"><%= post.title %></h1>
  <p class="subtitle is-size-5 is-size-6-touch m-0 mb-2"><%= truncate(post.body, length: 350, omission: "...") %></p>
  <div class="divider m-0 mb-2">Info</div>
  <div class="is-size-6 is-size-7-touch has-text-weight-semibold mb-2">
    <p class="">Author: <%= post.user.name %> <%= post.user.surname %></p>
    <p class=""><%= time_ago_in_words(post.created_at).capitalize %> ago</p>
  </div>
  <div class="divider m-0 mb-3">Tags</div>
  <div class="tags">
    <div class="tag is-rounded is-link">Action</div>
    <div class="tag is-rounded is-link">Horror</div>
    <div class="tag is-rounded is-link">Test</div>
    <div class="tag is-rounded is-link">Ruby</div>
    <div class="tag is-rounded is-link">Rails</div>
    <div class="tag is-rounded is-link">Tecnology</div>
    <div class="tag is-rounded is-link">Youtube</div>
    <div class="tag is-rounded is-link">Back-end</div>
  </div>
<% end %>