<%= form_with model: @post do |form| %>
  <% if @post.errors.any? %>
      <% @post.errors.full_messages.each do |message| %>
        <p class="notification is-danger has-text-semibold py-2 px-3 ">
          <%= message %>
        </p>
      <% end %>
  <% end %>
  
  <div class="field">
    <%= form.label :title, "Title", class: "label" %>
    <div class="control">
      <%= form.text_field :title, required: true, maxlength: 150, class: "input", placeholder: "Title of the post" %>
    </div>
    <p class="help">Title shouldn't exceed 150 characters</p>
  </div>

  <div class="field">
    <%= form.label :body, "Text", class: "label" %>
    <div class="control">
      <%= form.text_area :body, required: true, class: "textarea", placeholder: "Write your text here..." %>
    </div>
  </div>
  
  <!--<div class="field">
    <%= form.label :tag, "Tags", class: "label" %>
    <div class="control">
      <%= form.text_field :tag, class: "input" %>
    </div>
  </div>-->

  <div class="field is-grouped is-grouped-centered pt-2">
    <div class="control">
      <%= form.submit "Submit", class: "button is-link" %>
    </div>
    <div class="control">
      <%= link_to "Cancel", root_path, class: "button has-text-white is-danger" %>
    </div>
  </div>
<% end %>