<h1 class="title is-size-3 is-size-4-touch"><%= title %> Post</h1>

<%= form_with model: @post do |form| %>
  <div class="field">
    <%= form.label :title, "Title", class: "label" %>
    <div class="control">
      <%= form.text_field :title, class: "input", placeholder: "Title of the post" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :body, "Text", class: "label" %>
    <div class="control">
      <%= form.text_area :body, class: "textarea", placeholder: "Write your text here..." %>
    </div>
  </div>
  
  <!--<div class="field">
    <%= form.label :tag, "Tags", class: "label" %>
    <div class="control">
      <%= form.text_field :tag, class: "input" %>
    </div>
  </div>-->

  <div class="field is-grouped is-grouped-centered pt-2">
    <div class="control">
      <%= form.submit "Submit", class: "button is-link" %>
    </div>
    <div class="control">
      <%= link_to "Cancel", root_path, class: "button has-text-white is-danger" %>
    </div>
  </div>
<% end %>