<%= form_with model: @post do |form| %>
  <% if @post.errors.any? %>
      <% @post.errors.full_messages.each do |message| %>
        <p class="notification is-danger has-text-semibold py-2 px-3 ">
          <%= message %>
        </p>
      <% end %>
  <% end %>
  
  <div class="field">
    <%= form.label :title, t("post.form.title_label"), class: "label" %>
    <div class="control">
      <%= form.text_field :title, required: true, maxlength: 150, class: "input", placeholder: t("post.form.title_holder") %>
    </div>
    <p class="help"><%= t("post.form.title_helper") %></p>
  </div>

  <div class="field">
    <%= form.label :body, t("post.form.body_label"), class: "label" %>
    <div class="control">
      <%= form.text_area :body, required: true, class: "textarea", placeholder: t("post.form.body_holder") %>
    </div>
  </div>
  
  <div class="field">
    <%= form.label :tags, t("post.form.tags_label"), class: "label" %>
    <div class="control">
      <%= form.text_field :tags, class: "input", placeholder: t("post.form.tags_holder"), value: @post.tags.pluck(:name).join(", ") %>
    </div>
    <p class="help"><%= t("post.form.tags_helper") %></p>
  </div>

  <div class="field is-grouped is-grouped-centered pt-2">
    <div class="control">
      <%= form.submit t("post.form.submit"), class: "button is-link" %>
    </div>
    <div class="control">
      <%= link_to t("post.form.cancel"), root_path, class: "button has-text-white is-danger" %>
    </div>
  </div>
<% end %>