<nav class="pagination">
  <ul class="pagination-list">
    <li>
      <%= link_to "1", root_path, class: "pagination-link is-current" %>
    </li>
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    <li>
      <%= link_to "2", root_path, class: "pagination-link" %>
    </li>
    <li>
      <%= link_to "3", root_path, class: "pagination-link" %>
    </li>
    <li>
      <%= link_to "4", root_path, class: "pagination-link" %>
    </li>
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    <li>
      <%= link_to "5", root_path, class: "pagination-link" %>
    </li>
  </ul>
</nav>