<p><%= t("auth.mailer.hello") %> <%= @resource.name %> <%= @resource.surname %>!</p>

<p><%= t("auth.mailer.second") %></p>

<p><%= link_to t("auth.mailer.link"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("auth.mailer.third") %></p>
<p>Your password won't change until you access the link above and create a new one.<%= t("auth.mailer.fourth") %></p>
