<p><%= t("auth.mailer.hello") %> <%= @resource.name %> <%= @resource.surname %>!</p>

<p><%= t("auth.mailer.second") %></p>

<p><%= link_to t("auth.mailer.link"), edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale) %></p>

<p><%= t("auth.mailer.third") %></p>
<p><%= t("auth.mailer.fourth") %></p>
