<!DOCTYPE html>
<html class="theme-light">
  <head>
    <title>Rails Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Bulma CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <!-- Bulma Divider-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-divider@1.1.0/dist/bulma-divider.min.css">
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Country Flags -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container is-fluid">
    <%= render "shared/navbar" %>
    <% if notice %>
      <p class="notification is-success has-text-semibold"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="notification is-danger has-text-semibold"><%= alert %></p>
    <% end %>
    <div class="px-0 py-2 container is-max-desktop">
      <%= yield %>
    </div>
  </body>
</html>
